<div>
<br><br>
  <ul class="list-group">

    <li class="list-group-item" ng-repeat="user in users | orderBy: '-id'">
      <div class="row">
        <div class="col-lg-1 col-sm-2 pull-right">
          <a class="delete-user btn btn-warning" ng-click="delete(user.id)">Remove</a>
        </div>
        <div class="col-lg-1 col-sm-2">{{user.firstName}}</div>
        <div class="col-lg-1 col-sm-2">{{user.lastName}}</div>
        <div class="col-lg-9 col-sm-6 text-right"><span class="label" ng-class="{'label-success' : user.salary > 150, 'label-danger' : user.salary < 110, 'label-warning' : user.salary < 150 }">{{user.salary | currency}}</span></div>
      </div>
    </li>  

  </ul>
  <br>
  <div class="pull-right">
    <a href="" class="btn btn-lg btn-success" ng-click="addUser()">Add User</a>
  </div>
</div>